@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --gradient-background: radial-gradient(circle farthest-corner at 5% 25%, rgba(0, 25, 60, 1) 20%, rgba(0, 20, 50, 1) 40%, rgba(0, 15, 40, 1) 60%, rgba(0, 10, 30, 1) 80%, rgba(0, 5, 20, 1) 100%);
    --background-color: #edf2f8;

    --gradient: linear-gradient(90deg, #9a41f9 10%, #ff6f59 70%);
    --gradient-vertical: linear-gradient(180deg, #9a41f9 7%, #ff6f59 80%);
    --gradient-btn: linear-gradient(to right, #FF512F 0%, #DD2476 50%, #FF512F 100%);
    --gradient-btn-white: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 50%, #ECE9E6 100%);

    --white-color: #fff;
    --black-color: #000;
    --light-black-color: rgba(0, 0, 0, 0.7);
    --text-color: #81AFDD;
    --btn-color: #FF4820;
    --gray-color: #60707a;

    --shadow-level-1: rgba(0, 0, 0, 0.4);
    --shadow-level-2: rgba(0, 0, 0, 0.3);
    --shadow-level-3: rgba(0, 0, 0, 0.2);

    --box-shadow-level-1: 3px 3px 5px 0px var(--shadow-level-1);
    --box-shadow-level-2: 7px 10px 7px 0px var(--shadow-level-2);
    --box-shadow-level-3: 2px 7px 15px 2px var(--shadow-level-3);
    --small-box-shadow: 1px 2px 5px 0px var(--shadow-level-2);

    /* main-font-size */
    --btn: clamp(0.8rem, 0.9vw, 2rem);
    --page-heading: clamp(1.5rem, 2.1vw, 5rem);
    --page-sub-heading-level-1: clamp(1.2rem, 1.8vw, 3.5rem);
    --page-sub-heading-level-2: clamp(0.9rem, 1.1vw, 2.5rem);

    /* home-heading icon */
    --home-heading: clamp(1.5rem, 2.5vw, 5.5rem);
    
    /* navbar icon text logo*/
    --menu-text: clamp(0.7rem, 0.834vw, 1.8rem);
    --logo: clamp(1rem, 1.5vw, 3rem); /*logo*/

    /* profile heading sub */
    --profile-heading: clamp(1.2rem, 1.8vw, 3.2rem);
    --profile-sub-heading: clamp(1rem, 1.5vw, 2.8rem);

    /* timeline title/date content */
    --timeline-title: clamp(1rem, 0.9vw, 2rem);
    --timeline-content: clamp(0.8rem, 0.8vw, 1.8rem);
    --skill-text: clamp(0.8rem, 0.834vw, 1.8rem);

    /* input footer */
    --input: clamp(0.7rem, 0.834vw, 1.8rem);
    --footer: clamp(0.7rem, 0.9vw, 1.9rem);
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--btn-color);
}

@media screen and (max-width: 1000px), (orientation: portrait){
    :root{
    --btn: clamp(0.8rem, 3.2vw, 1rem);
    --page-heading: clamp(1.8rem, 5.5vw, 2.5rem);
    --page-sub-heading-level-1: clamp(1.3rem, 4.5vw, 2rem);
    --page-sub-heading-level-2: clamp(0.9rem, 3vw, 1.3rem);

    --home-heading: clamp(2rem, 6vw, 2.8rem);
    
    --menu-text: clamp(1rem, 4vw, 1.8rem);
    --logo: clamp(1rem, 4vw, 1.8rem);

    --profile-heading: clamp(1.4rem, 5vw, 2.2rem);
    --profile-sub-heading: clamp(1.1rem, 4vw, 1.8rem);

    --timeline-title: clamp(0.9rem, 3.5vw, 1.5rem);
    --timeline-content: clamp(0.8rem, 3vw, 1.2rem);

    --input: clamp(0.7rem, 2.5vw, 1rem);
    --footer: clamp(0.7rem, 2.5vw, 1rem);
    }
}